# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [9]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [10]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [11]:
#  item_price의 값들을 숫자로 변경
values = [float(val[1:-1]) for val in chipo['item_price']]

chipo['item_price'] = values
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [28]:
filtered_chipo = chipo[chipo['item_price'] > 10.00]

# 예시답안 참고: 기본적으로 중복제거 포함 필요
filtered_chipo = filtered_chipo.drop_duplicates(['item_name','quantity','choice_description'])

filtered_chipo.describe

<bound method NDFrame.describe of       order_id  quantity        item_name  \
4            2         2     Chicken Bowl
5            3         1     Chicken Bowl
7            4         1    Steak Burrito
13           7         1     Chicken Bowl
23          12         1  Chicken Burrito
...        ...       ...              ...
4593      1825         1    Carnitas Bowl
4594      1825         1    Barbacoa Bowl
4607      1829         1    Steak Burrito
4610      1830         1    Steak Burrito
4611      1830         1   Veggie Burrito

                                     choice_description  item_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
...                                                 ...         ...
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...       11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...       11.75
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...       11.75
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25

[794 rows x 5 columns]>

In [24]:
# How many products cost more than $10.00? 에 대한 정답
filtered_chipo['item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [25]:
filtered_chipo[['item_name', 'item_price']].head()

          item_name  item_price
4      Chicken Bowl       16.98
5      Chicken Bowl       10.98
7     Steak Burrito       11.75
13     Chicken Bowl       11.25
23  Chicken Burrito       10.98

### Step 6. Sort by the name of the item

In [32]:
filtered_chipo.sort_values(by='item_name', ascending=True).head()
# 다른방법
# filtered_chipo.item_name.sort_values()

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1746,705,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Cheese, Sour Crea...",11.75
1175,483,1,Barbacoa Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",11.48
1174,483,1,Barbacoa Bowl,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",11.48
1643,664,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.75

### Step 7. What was the quantity of the most expensive item ordered?

In [37]:
# sort the item_price and then the first one
chipo.sort_values(by='item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [45]:
veggie = chipo.query('item_name == "Veggie Salad Bowl"')
veggie.shape[0] # or just len(veggie)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [60]:
chipo[chipo.item_name == 'Canned Soda']
# chipo['item_name'=='Canned Soda'] 이런 표현은 없음.
can_soda = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)]
len(can_soda)

20